*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    width: 100vw;
    background: url();
}


nav {
    width: 100%;
    height: 90px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 4px 10px 3px #00000098;
    box-sizing:border-box;
}

#logo {
    display: flex;
    align-items: center;
}

img {
    width: 70px;
    cursor: pointer;
}

h1 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

li {
    list-style-type: none;
    padding: 9px 0px;
    cursor: pointer;
    transition: all 0.3s ease;
}

li:hover {
    transform: translateY(5px);
    border-bottom: 1px solid #000;
}

a {
    height: 40px;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: #000;
}

#btn-div {
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 18px
}

#btn1 {
    width: 150px;
    height: 50px;
    padding: 12px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    letter-spacing: 2px;
    color: #fff;
    background: #dd0000;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#btn1:hover {
    background: #fff;
    color: #000;
    border: 1px solid #000;
}

#btn2 {
    width: 150px;
    height: 50px;
    padding: 12px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    letter-spacing: 2px;
    color: #fff;
    background: #000;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#btn2:hover {
    background: #fff;
    color: #dd0000;
    border: 1px solid #dd0000;
}