div {
    width: 100px;
    height: 100px;
    /* border: 2px solid blueviolet; */
    margin-bottom: 10px;
    text-align: center;
    line-height: 100px;
    /* box-sizing: border-box;
    padding-top: 40px ; */
}

#div1, #div5 {
    background: #d00;
}

#div2, #div4 {
    background: #188f0d;
    margin-left: 50px;
}

#div3 {
    background: cornflowerblue;
    margin-left: 100px;
}